<launch>

  <!-- Start MoveIt -->
  <include file="$(find fetch_moveit_config)/launch/move_group.launch" >
    <arg name="info" value="true"/><!-- publish grasp markers -->
  </include>

  <!-- Drive to the table, pick stuff up -->
  <node name="main" pkg="fetch_follower" type="main.py" output="screen" />

</launch>